@font-face {
  font-family: normal;
  src: url(font/Raleway-Medium.ttf);
}

@font-face {
  font-family: heading;
  src: url(font/Raleway-BoldItalic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url(images/background.jpg);
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  font-family: normal;
  color:#1a1c20;
  text-align: center;
  scroll-behavior: smooth;
  flex-direction: column;
  scrollbar-width: thin; /* Adjust scrollbar appearance */
  scrollbar-color: #D4A3C4 transparent;
  overflow-y: auto;
  scroll-padding-top: 5rem; /* Adjust this value based on the height of your nav bar */
}

#heading {
  font-family: heading;
  font-size: 50px;
  color: #b34ba0bd;
  padding: 20px;
}

a {
  color: #520438;
  text-decoration: none;
}

#heading1 {
  font-family: heading;
  font-size: 50px;
  color: #b34ba0bd;
  padding: 20px;
  margin-left: -4.5rem;
  margin-right: 4rem;
  display: inline-block;
  position: relative;
}

#heading1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-bottom: 0.15em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

#heading1 .line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #b34ba0bd; /* match text color or change */
  transform-origin: 0 0; /* start animation from left */
  transform: scaleX(0);
  opacity: 0;
}

#heading1 .letter {
  display: inline-block;
  line-height: 1em;
}

h1 {
  font-size: 30px;
}

#pixel{
  text-align: center;
}

nav {
  background-color: #b34ba088;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1000;
  align-items: center;
  height: 4rem;
  padding: auto;
  backdrop-filter: blur(5px);
}

nav .left {
  display: flex;
  margin-left: 30px;
  color: var(--text-color);
  font-size: 2.0rem;
  font-weight: 600;
}

nav .right {
  display: flex;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  margin: 0.625rem;
  margin-right: 50px;
}

nav a {
  display: inline-block; /* Ensure the element can transform */
  margin: 0 15px;
}

nav a:hover {
  animation-name: wiggle;
  animation-duration: 1300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.nametag{
  text-transform: uppercase;
  color: rgb(210, 227, 252);
  letter-spacing: 0.4em;
}

.nametag .letter {
  display: inline-block;
  line-height: 1em;
}

section {
  padding: 7rem 2rem;
  min-height: 5vh; /* Reduce the default minimum height */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: -1rem;
  margin-top: 3rem;
}


#about {
  display: flex;
  align-items: start;
  text-align: justify;
  flex-wrap: wrap;
  margin-left: 3.5rem;
}

#about .bio {
  margin-top: -15rem;
  margin-bottom: 2rem;
  max-width: 43rem;
}

#about .bio p {
  font-size: 1.25rem;
  font-weight: 300;
}

#about .profile img {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 5px solid #520438;
  transition: transform 0.4s ;
}

#about .profile img:hover {
  transform: scale(1.2);
}

#about .social-links {
  font-size: 50px;
  margin-left: 53rem;
  margin-top: 3rem;
  margin-left: 53rem;
}

#about .social-links a {
  margin: 0 0.75rem;
}

#about .social-links a i {
  transition: transform 0.3s, color 0.3s;
}

#about .social-links a:hover i {
  color: #D4A3C4;
  transform: scale(1.2);
}

#about .social-links i {
  color: #520438;
}

.title {
  position: relative;
}

.title .text-wrapper1 {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.title .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.title .letters {
  display: inline-block;
}

.title .letter {
  display: inline-block;
  line-height: 1em;
}

.letter {
  display: inline-block;
  opacity: 0;
}

#education {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

#education .flex1 img {
  flex: 1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.flexbox-container {
  display: flex;
}

.bounce img:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-50px); }
100% { transform: translateY(0); }
}

.flex2 {
  margin-right: 20px;
  text-align: justify;
}

#projects {
  text-align: justify;
  padding: 3rem 2rem;
  font-size: 20px;
}

#message{
  text-align: justify;
}

#skills-section{
  display: flex;
  padding: 30px;
  gap: 40px;
}

.flipbook {
  width: 1200px;
  height: 450px;
}

.flipbook .hard {
  background: #D4A3C4 !important;
  color: #000000;
  font-weight: bold;
  border: none;
}

.flipbook .hard .small {
  font-style: italic;
  font-weight: lighter;
  opacity: 0.7;
  font-size: 14px;
}

.flipbook .page {
  background: rgb(255, 238, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.11);
  text-align: center;
}

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 font-family: inherit;
 font-size: 15px;
}

button.buttons {
 font-weight: 600;
 color: #382b22;
 text-transform: uppercase;
 padding: 1.25em 2em;
 background: #fff0f0;
 border: 2px solid #b18597;
 border-radius: 0.75em;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.buttons::before {
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #f9c4d2;
 border-radius: inherit;
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #514f4f60;
 box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #514f4f60;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.buttons:hover {
 background: #ffe9e9;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

button.buttons:hover::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #514f4f60;
 box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #514f4f60;
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

button.buttons:active {
 background: #ffe9e9;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

button.buttons:active::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #514f4f60;
 box-shadow: 0 0 0 2px #b18597, 0 0 #514f4f60;
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}


.page img {
  width: 100%;
  object-fit: cover;
}

.flipbook .page small {
  font-size: 14px;
}

#skills{
  text-align: justify;
}

.images{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#caption {
  width: 465px;
  margin-left: 110px;
}

#caption_ {
  width: 465px;
  margin-left: 80px;
  text-align: center;
}

/* dual columns stack on top of each other for small screens */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#footer{
  padding-bottom: 3rem;
}

/* Media Queries for Responsiveness */

/* @media (max-width: 992px) {

  nav .right a {
      font-size: 1rem;
      margin: 0 0.5rem;
  }

  .flexbox-container {
    flex-direction: column;
  }

}

@media (max-width: 768px) {
  nav .left a {
      font-size: 1.6rem;
  }

  nav .right a {
      font-size: 1.1rem;
      margin: 0 0.375rem;
  }


}

@media (max-width: 576px) {
  nav {
      padding: 0 1rem;
  }

  nav .left a {
      font-size: 1.1rem;
  }

  nav .right a {
      font-size: 0.8rem;
      margin: 0 0.25rem;
  }



} */
